*{
  text-align: center;
}

ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
h1,h2{
  color: black;
}
p{
  color: red;
}
.note{
  font-size: 20px;
}
ol #id-selector-demo{
  color: green;
}
li[value="4"] {
  color: blue;
}